<tr>
  <td>
    <table border=​"0" cellpadding=​"0" cellspacing=​"0">​
      <tbody>



        <tr>
          <td align=​"right" valign=​"top" class=​"title">​
           <% all_post.each do |post| %>
           <% if post.url %>
           <td class=​"title">​<a href='http://<%=post.url%>'><%=post.title %></a></td>​
           <%else%>  
           <a href='/post/<%=post.id%>'><%=post.title %></a>
         </td>
           <%end%>
         </tr>
           <tr>
           <td class=​"subtext">​</span>
           <a href='/post/<%=post.id%>'>Comments</a>
           <%end%>
           <div class="pagination"><%= will_paginate @post %></div>
         </tr>
         </tbody>



